body {
    font-family: "Heeboo", sans-serif;
}

/* Header */
header {
  height: 600px;
  background-color: #e6e6ff;
}

/* Navigation Bar */
.flex-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

div > p {
  font-size: 4em;
  font-weight: 600;
  text-align: center;
}

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #c4c4d4;
  position: sticky;
  top: 0;
}

.nav-bar > li {
  float: left;
}

.nav-bar > li > a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar > li > a:hover {
  background-color: #b3b3e6;
}

.active {
  background-color: #b3b3e6;
}

/* Cards */
section {
  margin: auto;
  padding: 25px;
  margin: 200px;
  background-color: #e6e6ff;
}

h1 {
    font-size: 2em;
    font-weight: 600;
}

h3 {
    font-size: 1em;
    font-weight: 300;
}

/* Footer */
footer {
  bottom: 0;
  background-color: #c4c4d4;
}

footer > p {
  color: black;
  font-size: 1em;
  padding: 14px;
  text-align: right;
}